.circular-progress{
  margin: 90px auto;
  width: 100px;
}
.post-form{
  margin-top: 30px !important;
}
.page-title{
  display: block !important;
  text-align: center;
  font-size: 2rem;
  margin-top: 10px;
}
.form-container{
  width: 400px;
  margin: auto;
}

.ui.teal.button:focus, .ui.teal.buttons .button:focus{
  background-color: #00b5ad;
}